body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;

}

:root {
    --blue: #2196F3;
    --c212121: #212121;
    --white: #FFFFFF;
   
}



         /* Страница студия */

/*  Шапка */

/* Лого */

.logo {
    text-decoration: none;
}

.logo_main {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--blue);
}

.logo_black {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo_white {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white);
}


.logo:visited {
    color: var(--blue);
    text-decoration: none;
}




     /*  Навигация  в шапке */

/* Цвет кнопки в шапке*/


.navigation {
    color: var(--c212121);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    
}

.navigation:hover {
    color: var(--blue);
    text-decoration: none;
}


.li_no_marker {
    list-style-type: none;
}


    /* Адрес в шапке */


.adress {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.adress:hover {
    color: var(--blue);
    text-decoration: none;
}



/* Body */

/* Решения */

.solutions {
    background-color: #2F303A;
}


.solutions_text {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.button_order {
    background-color: #2196F3;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    cursor: pointer
}

                                           
/* Преимущества */


.benefits_list > li > h3 {
    color: var(--c212121);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits_text > li > p {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


/* Наша команда*/

.name_h2 > h2 {
    color: var(--c212121);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.our_team_people > li {
    background-color: #FFFFFF;
}
.team_name {
    color: var(--c212121);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team_position {
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}


/* Footer */

.footer {
    background-color: #2F303A;
}

/* Адресс footer */

.adress_footer {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:  rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}

.adress_footer:hover {
    color:  rgba(255, 255, 255, 1);
}



.adress_city {
    color: var(--white)
}







    

        /* Страница портфолио */


   

/* Body */

/*Кнопки фильтра*/

.text {
    background-color: #F5F4FA;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
  }

.text:focus,
.text:hover {
    background-color: var(--blue);
    color: var(--white);  
}

/* Список проектов */

.name_projects > li > h2 {
    color: var(--c212121);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.name_projects > li > p {
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}








